body,html {
    height: 100%;
  }

body {
    background-color: #000;
}

.blockquote p{
  color: #fff;
  margin-bottom:0;
}

.welcome {
    position: relative;
    top: -5em;
    z-index: 1;
}

.status {
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.credit {
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.temp {
    line-height: 0.8;
}

.slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    background-image: url(http://i.imgur.com/K3mPv14.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1501720891994-5f96c082882e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=297b234a4a59c9efc3003fc66254aefb&auto=format&fit=crop&w=1950&q=80);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(http://i.imgur.com/emvhOnb.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 40s; 
  }

  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    30% {
      opacity: 0;
    }
  }

  .creditText {
     z-index: 1;
  }

  .creditText li{
    list-style: none;
    position: absolute;
    top:-30px;
    right:0;
    padding-right: 1rem;
    animation: textAnimation 50s linear infinite;
  }
  
  .creditText li:nth-child(2) { 
    animation-delay: 10s; 
  }
  .creditText li:nth-child(3) { 
    animation-delay: 20s; 
  }
  .creditText li:nth-child(4) { 
    animation-delay: 30s; 
  }
  .creditText li:nth-child(5) { 
    animation-delay: 40s; 
  }


  @keyframes textAnimation { 
    0% { 
      top:-30px;
      animation-timing-function: ease-out;
    }
    10% {
      top:0;
    }
    20% {
      top:0;
      animation-timing-function: ease-out;
    }
    30% {
      top:-30px;
    }
  }



.vText {
  /* text-shadow: 1px 1px 25px rgba(255, 255, 255, 1); */
  /* animation: vTextAnimate 50s linear infinite; */
  color: white;
}

.backgroundShade {
  background: -moz-linear-gradient(top, rgba(14,14,14,0.75) 0%, rgba(14,14,14,0.75) 1%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(14,14,14,0.75) 0%,rgba(14,14,14,0.75) 1%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(14,14,14,0.75) 0%,rgba(14,14,14,0.75) 1%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0e0e0e', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
}



/* The animation code */

/* @keyframes vTextAnimate {
  0%   {color:purple;
        animation-timing-function: ease-in;}
  10%  {color:red;}
  20%   {color: red;
        animation-timing-function: ease-in;}
  30%  {color:blue;}
  40%   {color: blue;
        animation-timing-function: ease-in;}
  50%  {color:green;}
  60%   {color: green;
        animation-timing-function: ease-in;}
  70%   {color:orange;}
  80%   {color: orange;
        animation-timing-function: ease-in;}
  90%  {color: purple;}
  100%   {color:purple;}
} */


  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}