body,html {
    height: 100%;
  }

body {
    background-color: #000;
}
.textAnimate {
  animation: textAnimation 50s linear infinite;
}
.photoAnimate{
  animation: imageAnimation 50s linear infinite; 
}
.invisible {
  visibility: hidden;
}
.blockquote p{
  color: #fff;
  margin-bottom:0;
}
.welcome {
    position: relative;
    top: -5em;
    z-index: 1;
}
.status {
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.credit {
  position: fixed;
  top: 0;
  z-index: 1;
}
.lineHH1 {
    line-height: 0.8;
}
#dateTime {
  border-radius: 0 10px 10px 0;
}
#temp {
  border-radius: 10px 0 0 10px;
}
.tColRot {
  color: white;
}
.tColRot p {
  color: white;
}

/* Styles for the Background SlideShow */
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    
  }

  /* .slideshow li:nth-child(1) { 
  } */
  .slideshow li:nth-child(2) { 
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    animation-delay: 40s; 
  }

  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    5% {
      opacity: 1;
    }
    25% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    30% {
      opacity: 0;
    }
  }
  
  @keyframes singleImage {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes singleMessage {
    from{
      top: -30px;
    }
  }

  /* Styles for the Photo Credit Section */
  .creditText {
     z-index: 1;
  }

  .creditText li{
    list-style: none;
    position: absolute;
    top: -30px;
    right:0;
    padding-right: 1rem;
  }
  
  .creditText li:nth-child(2) { 
    animation-delay: 10s; 
  }
  .creditText li:nth-child(3) { 
    animation-delay: 20s; 
  }
  .creditText li:nth-child(4) { 
    animation-delay: 30s; 
  }
  .creditText li:nth-child(5) { 
    animation-delay: 40s; 
  }


  @keyframes textAnimation { 
    
    0%{
      top:-30px;
    }
    5% { 
      top: -30px;
      animation-timing-function: ease-out;
    }
    8% {
      top:0;
    }
    22% {
      top:0;
      animation-timing-function: ease-in;
    }
    25% {
      top:-30px;
    }
  }



.cText {
  /* text-shadow: 1px 1px 25px rgba(255, 255, 255, 1); */
  /* animation: cText Animate 50s linear infinite; */
  color: white;
}

  /* Style for the Status Section at the bottom of the page */

.backgroundShade {
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.25) 100%);
}

.welcomeShade {
  background: rgba(0, 0, 0, 0);
  border-radius: 0 10px 10px 0; 
  transition: all .5s ease-in-out;
}

.welcomeShade:hover {
  background: rgba(0, 0, 0, 0.75);
}
.linkList{
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  height: 75px;
  padding: 0 1rem 4rem 1rem;
}
.linkList li{
  list-style: none;
  font-size: 3rem;
  float: left;
  padding: 0 0.5rem 0 0.5rem;
  
}

.linkList li a{
  color: white;
  transition: all .5s ease-in-out; 
}
.linkList li:first-child{
  padding: 0 0.5rem 0 0;
}
.linkList li:last-child{
  padding: 0 0 0 0.5rem
}
.fa-google {
  transition: all .2s ease-in-out; 
}
.fa-google:hover {
  color: #4885ed;
  transform: scale(1.3);
}
.fa-user-graduate{
  transition: all .2s ease-in-out; 
}
.fa-user-graduate:hover{
  color: #dc3545;
  transform: scale(1.3);
}
.fa-whatsapp {
  transition: all .2s ease-in-out; 
}
.fa-whatsapp:hover {
  color: #34AF23;
  transform: scale(1.3);
}
.fa-youtube {
  transition: all .2s ease-in-out; 
}
.fa-youtube:hover {
  color: #c4302b;
  transform: scale(1.3);
}
.fa-reddit-alien{
  transition: all .2s ease-in-out; 
}
.fa-reddit-alien:hover{
  color:#FF5700;
  transform: scale(1.3);
}

  /* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}